body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#canvas-container {
    width: 70%;
    height: 100vh;

    position: relative;
    float: left;
}

#menu-container {
    width: 30%;
    height: 100vh;
    background-color: white;
    float: left;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
}

#compare-menu-container {
    width: 30%;
    height: 100vh;
    background-color: white;
    float: left;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
}

.big-button {
    width: 65%;
    height: 100%;
    border-radius: 30px;
    border-style: none;

    color: white;
    background-color: orange;

    font-size: 18pt;
    font-weight: bold;
    font-family: Calibri, serif;

    outline: none;
}

.big-button:hover {
    width: 65%;
    height: 100%;
    border-radius: 30px;
    border-style: double;
    border-color: orange;
    border-width: thick;

    color: orange;
    background-color: white;

    font-size: 20pt;
    font-weight: bold;
    font-family: Calibri, serif;

    outline: none;
}

.big-button:active {
    width: 65%;
    height: 100%;
    border-radius: 30px;
    border-style: none;

    color: white;
    background-color: orange;

    font-size: 18pt;
    font-weight: bold;
    font-family: Calibri, serif;

    outline: none;
}

.app-header-title {
    font-size: 32pt;
    font-family:  Calibri, sans-serif;
    color: orange;
}

.menu-stack {
    display: block;
    height: 10%;
}

.somewhat-big-button {
    width: 45%;
    height: 100%;
    border-radius: 30px;
    border-style: none;

    color: white;
    background-color: darkgray;

    font-size: 14pt;
    font-weight: bold;
    font-family: Calibri, serif;

    outline: none;
}

.somewhat-big-button:hover {
    width: 45%;
    height: 100%;
    border-radius: 30px;
    border-style: double;
    border-color: darkgray;
    border-width: thick;

    color: darkgray;
    background-color: white;

    font-size: 20pt;
    font-weight: bold;
    font-family: Calibri, serif;

    outline: none;
}

.somewhat-big-button:active {
    width: 45%;
    height: 100%;
    border-radius: 30px;
    border-style: none;

    color: white;
    background-color: darkgray;

    font-size: 18pt;
    font-weight: bold;
    font-family: Calibri, serif;

    outline: none;
}